* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('pedido.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.box {
    font-size: 20px;
    color: white;
    background-color: rgb(251, 108, 194);
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.button {
    font-size: 20px;
    color: white;
    background-color: #f7f2f2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 20px;
    color: white;
    padding: 10px 20px;
}

button {
    height: 30px;
    width: 50px;
    margin-right: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;

}

button:hover {
    background-color: rgb(255, 0, 162);
}


#no {
    position: relative;
    transition: transform 0.3s ease;
}